#flexGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

h1 {
    text-align: center;
}

body {
    background-color: white;
    font-family: 'Roboto';
    color: black;
}

:root {
    --gridRows: 1;
    --gridColumns: 1;
}

#squareGrid {
    display: grid;
    grid-template-rows: repeat(var(--gridRows), 1fr);
    grid-template-columns: repeat(var(--gridColumns), 1fr);
    border: 1px;
    border-style: solid;
    height: 600px;
    width: 600px;
    margin-top: 50px;
}

.actualSquare {
    border: 1px solid black;
}

.backgroundColor {
    background-color: lightblue;
}