#wrapper {
    margin-right: auto;
    margin-left:  auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left:  10px;

}

h1 {
    text-align: center;
}

body {
    background-color: white;
    font-family: 'Roboto';
    color: black;
}

:root {
    --gridRows: 1;
    --gridColumns: 1;
}

#squareGrid {
    display: grid;
    justify-content: center;
    grid-gap: 1px;
    grid-template-rows: repeat(var(--gridRows), 50px);
    grid-template-columns: repeat(var(--gridColumns), 50px);
}

.actualSquare {
    padding: 1px;
    border: 1px solid black;
    text-align: center;
}

.backgroundColor {
    background-color: blue;
}